body {
    background-color: rgb(47, 47, 47); 
}
@media (prefers-color-scheme: dark) { 
    body {
        background-color: rgb(47, 47, 47); 
    }
}
@media (prefers-color-scheme: light) { 
    body {
        background-color: rgb(255, 255, 255); 
    }
}
body {
    transition: background-color 0.3s ease;
}
  
body.dark-theme {
    background-color: rgb(47, 47, 47);
}
  
body.light-theme {
    background-color: rgb(255, 255, 255);
}
  
#overlay {
    visibility: hidden;
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    cursor: pointer;
}

#overlayBox {
    background-color: #b6b6b6;
    width: 300px;
    margin: 200px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    z-index: 10000;
  }

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    z-index: 10001;
    position:relative;
    left: 270px;
    right:70px;
  }

#switch_dark_light {
    display: flex;
    z-index: 9999;
}
#slogan {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    left: 0;
    right:0;
    text-align: center;
    color: rgb(204, 94, 255);
    text-shadow: 0px 0px 30px rgb(255, 0, 251);
}
#help {
    margin-top: 10px;
}
#credits {
    margin-top: 5px;
}
#main_icons {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
#eight_ball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 100%;
    margin-bottom: 20px;
    position: relative;
}

#answer-display {
    color: black;
    margin: auto;
}
#image_div {
    position: absolute;
    margin: 0 auto;
}
#white_circle {
    position: relative;
    width: 175px;
    height: 175px;
    background-color: white;
    border-radius: 100%;
    margin: 0 auto;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#question {
    margin-top: 25px;
    
}
#credits {
    z-index: 9999;
}
#button {
    background-color: rgba(0, 0, 255, 0);
    border: none;
    cursor: pointer;
    outline: none;
}

#button img {
    width: 70px;
    height: 70px;
    transition-property: width, height;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

#button:hover img {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}
#switch_dark_light button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#switch_dark_light button:focus {
    outline: none;
}

#switch_dark_light button img {
    display: block;
}
#headerDiv {
    display: flex;
    border-bottom: 5px dashed purple;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.628) ;
}
#reset {
    background-color: rgba(0, 0, 255, 0);
    border: none;
    cursor: pointer;
    outline: none;
}

#reset img {
    width: 50px;
    height: 50px;
    transition-property: width, height transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

#reset:hover img {
    width: 70px;
    height: 70px;
    display: flex;
    transform: rotate(-360deg);
    flex-direction: column;
    justify-content: center;
    border: none;
}
