body {
    background-color: rgb(47, 47, 47); 
}
header {
    border-bottom: 5px dashed purple;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.628) ;
}
#slogan {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    left: 0;
    right:0;
    text-align: center;
    color: rgb(204, 94, 255);
    text-shadow: 0px 0px 30px rgb(255, 0, 251);
}
#help {
    margin-bottom: 10px;
}
#credits {
    margin-top: 5px;
}
#main_icons {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
#eight_ball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 100%;
    margin-bottom: 20px;
    position: relative;
}

#answer-display {
    position: relative;
    color: black;
}
#image_div {
    position: absolute;
    margin: 0 auto;
}
#white_circle {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
    margin: 0 auto;
    visibility: hidden;
}